@keyframes cardEnter {

    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        tranform: scale(1);
    }
}

.profile-card {

    border-radius: var(--border-radius);
    padding: 1rem;
    text-align: center;
    align-content: center;
    box-shadow: var(--box-shadow);
    margin: 0.75rem;
    width: 200px;
    background-color: var(--primary-background-color);


    &.is-entering {

        opacity: 0;
        transform: scale(0.9);
        animation: cardEnter 0.5s forwards;

    }
    

    &.dark{
        background-color: var(--dark-primary-background-color);
    }

    .profile-card-image {

        width: 100%;
        height: 100px;
        padding-top: 100%;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;

    }

    img{
       
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;

    }
    
    p{

        padding-top: 0.5rem;
        margin: 0;
        color: #fff;

    }

    a{

        color: white;

    }

    a:hover{

        color: var(--button-background-color);

    }

}