.navbar {

    
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    margin-left: auto;
    background-color: var(--primary-background-color);

    
    &.dark{

        background-color: var(--dark-background-color);

    }

    ul{

        display: flex;
        align-items: center;
        list-style: none;
        padding-left: 0;

        li{
            margin-right: 1rem;
            margin-bottom: 0;

            a{
                color: #fff;
            }

            a:hover{
                color: var(--text-color);
            }
        }
    }

button{
    margin-bottom: 0;
    margin-left: auto;

    button:hover{

        background-color: #999b91;

    }
}
}